<div class="col-lg-12">
    <mat-card class="cardWithShadow">
        <mat-card-content class="p-24">
            <mat-card-title class="title-flex-container">
                <div layout="row" layout-align="center center">
                    Managers
                </div>
                <div>
                <mat-form-field appearance="outline">
                    <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
                </mat-form-field>
                    <button mat-raised-button class="create-btn" color="primary" (click)="OpenAddManager()" >Create</button>
                </div>
            </mat-card-title>
            <div class="table-responsive m-t-16">
                <table  mat-table [dataSource]="dataSource" class="w-100" matSort>
                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                        <th  mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14" mat-sort-header >
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                            <ng-container *ngIf="element.isAppointed; else emptyValueBlock">
                            {{ element.managerName }}
                            </ng-container>
                            <ng-template #emptyValueBlock>
                                <strong>To Be Appointed</strong>
                            </ng-template>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="age">
                        <th  mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14" mat-sort-header >
                            Age
                        </th>
                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                            <ng-container *ngIf="element.isAppointed; else emptyValue">
                            {{ element.managerAge }}
                        </ng-container>
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="salary">
                        <th  mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14" mat-sort-header>
                            Salary
                        </th>
                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                            <ng-container *ngIf="element.isAppointed; else emptyValue">
                            {{ element.managerSalary }}
                        </ng-container>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="edit" >
                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Edit</th>
                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                            <ng-container *ngIf="element.isAppointed; else emptyValue">
                            <button mat-icon-button color="primary" (click)="OpenEditManager(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </ng-container>
                        </td>
                    </ng-container>
                    

                    <ng-container matColumnDef="product">
                        <th  mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14" mat-sort-header>
                            Product
                        </th>
                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                            {{ element.productName }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="assign">
                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Appoint </th>
                        <td mat-cell *matCellDef="let element" class="mat-body-1">

                            <ng-container *ngIf="element.isAppointed; else emptyValueBlock">
                                <strong>Appointed</strong>
                            </ng-container>
                            <ng-template #emptyValueBlock>
                                <button mat-icon-button color="primary" (click)="OpenAppointManager(element)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </ng-template>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">Delete</th>
                        <td mat-cell *matCellDef="let element" class="mat-body-1">
                            <ng-container *ngIf="element.isAppointed; else emptyValue">
                            <button mat-icon-button color="warn" (click)="DeleteManager(element.managerId)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </ng-container>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
        </mat-card-content>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" > </mat-paginator>
    </mat-card>
</div>