<!-- The dialog title -->
<div mat-dialog-title>
    <h1>Edit Employee</h1>
</div>

<!-- Employee details form -->
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <!-- Employee name and salary fields -->
        <div class="row">
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="employeeName">
                </mat-form-field>
                <!-- Error messages for name field -->
                <div class="error-container">
                    <ng-container *ngIf="employeeName?.touched && employeeName?.errors?.['required']">
                        <mat-error class="custom-error">
                            Name is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                    <ng-container *ngIf="employeeName?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Name should have at least 2 characters.
                        </mat-error>
                    </ng-container>
                </div>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Salary</mat-label>
                    <input matInput type="number" formControlName="employeeSalary">
                </mat-form-field>
                <!-- Error messages for salary field -->
                <div class="error-container">
                    <ng-container *ngIf="employeeSalary?.touched && employeeSalary?.errors?.['required']">
                        <mat-error class="custom-error">
                            Salary is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                </div>
            </div>
        </div> <br>

        <!-- Employee age and department fields -->
        <div class="row">
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" formControlName="employeeAge">
                </mat-form-field>
                <!-- Error messages for age field -->
                <div class="error-container">
                    <ng-container *ngIf="employeeAge?.touched && employeeAge?.errors?.['required']">
                        <mat-error class="custom-error">
                            Age is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                    <ng-container *ngIf="employeeAge?.errors?.['invalidAge']">
                        <mat-error class="custom-error">
                            Age should be greater than 20
                        </mat-error>
                    </ng-container>
                </div>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="managerID">
                        <!-- Display departments in a dropdown -->
                        <mat-option *ngFor="let department of departments" [value]="department.managerId">
                            {{ department.departmentName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Error messages for department field -->
                <div class="error-container">
                    <ng-container *ngIf="managerID?.touched && managerID?.errors?.['required']">
                        <mat-error class="custom-error">
                            Department is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                </div>
            </div>
        </div> <br>

        <!-- Employee phone and designation fields -->
        <div class="row">
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Phone</mat-label>
                    <input matInput type="string" formControlName="phone">
                </mat-form-field>
                <!-- Error messages for phone field -->
                <div class="error-container">
                    <ng-container *ngIf="phone?.touched && phone?.errors?.['required']">
                        <mat-error class="custom-error">
                            Phone is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                    <ng-container *ngIf="phone?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Invalid phone number
                        </mat-error>
                    </ng-container>
                </div>
            </div>

            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Designation</mat-label>
                    <input matInput type="text" formControlName="designation">
                </mat-form-field>
                <!-- Error messages for designation field -->
                <div class="error-container">
                    <ng-container *ngIf="designation?.touched && designation?.errors?.['required']">
                        <mat-error class="custom-error">
                            Designation is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                </div>
            </div>
        </div> <br>

        <!-- Employee address field -->
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Address</mat-label>
            <textarea formControlName="address" matInput placeholder="Address goes here..."></textarea>
        </mat-form-field>
        <!-- Error messages for address field -->
        <div class="error-container">
            <ng-container *ngIf="address?.touched && address?.errors?.['required']">
                <mat-error class="custom-error">
                    Address is <strong>required</strong>
                </mat-error>
            </ng-container>
        </div>
    </div>

    <!-- Form actions (Update and Cancel buttons) -->
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel </button>
        <button mat-raised-button color="primary" type="submit"> Update </button>
    </div>
</form>