<div mat-dialog-title>
    <h1>Create Product</h1>
</div>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="productName">
                </mat-form-field>
                <div class="error-container">
                    <div *ngIf="productName?.touched && productName?.errors?.['required']">
                        <mat-error class="custom-error">
                            Name is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="productName?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Name should have at least 6 characters and no spaces allowed.
                        </mat-error>
                    </div>
                </div>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Revenue</mat-label>
                    <input matInput type="number" formControlName="productRevenue">
                </mat-form-field>
                <div class="error-container">
                    <div *ngIf="productRevenue?.touched && productRevenue?.errors?.['required']">
                        <mat-error class="custom-error">
                            Salary is <strong>required</strong>
                        </mat-error>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid"> Create </button>
    </div>
</form>