<div mat-dialog-title>
    <h1>Edit Task</h1>
</div>
<form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="taskName">
                </mat-form-field>
                <div class="error-container">
                    <ng-container *ngIf="taskName?.touched && taskName?.errors?.['required']">
                        <mat-error class="custom-error">
                            Name is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                    <ng-container *ngIf="taskName?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Name cannot be empty
                        </mat-error>
                    </ng-container>
                </div>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Description</mat-label>
                    <input matInput type="text" formControlName="taskDescription">
                </mat-form-field>
                <div class="error-container">
                    <ng-container *ngIf="taskDescription?.touched && taskDescription?.errors?.['required']">
                        <mat-error class="custom-error">
                            Description is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                    <ng-container *ngIf="taskDescription?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Description cannot be empty
                        </mat-error>
                    </ng-container>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Due date</mat-label>
                    <input matInput [min]="minDate" [matDatepicker]="picker" formControlName="taskDueDate"
                           [class.disabled-input]="true" readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>  
                <div class="error-container">
                    <ng-container *ngIf="taskDueDate?.touched && taskDueDate?.errors?.['required']">
                        <mat-error class="custom-error">
                            Date is <strong>required</strong>
                        </mat-error>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="editTaskForm.invalid"> Create </button>
    </div>
</form>