<div mat-dialog-title>
    <h1>Create Manager</h1>
</div>
<!-- Form to create a new manager -->
<form [formGroup]="managerForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <!-- Email input field -->
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Email Id</mat-label>
                    <input matInput type="text" formControlName="email">
                </mat-form-field>
                <div class="error-container">
                    <!-- Email validation error messages -->
                    <div *ngIf="email?.touched && email?.hasError('required')">
                        <mat-error class="custom-error">
                            Email is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="email?.hasError('pattern')">
                        <mat-error class="custom-error">
                            Email should have a valid format
                        </mat-error>
                    </div>
                    <div *ngIf="email?.hasError('emailAlreadyExist')">
                        <mat-error class="custom-error">
                            Email already exists
                        </mat-error>
                    </div>
                </div>
            </div>

            <!-- Username input field -->
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>User Name</mat-label>
                    <input matInput type="text" formControlName="userName">
                </mat-form-field>
                <div class="error-container">
                    <!-- Username validation error messages -->
                    <div *ngIf="userName?.touched && userName?.errors?.['required']">
                        <mat-error class="custom-error">
                            User Name is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="userName?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Username should have at least 6 characters and no spaces allowed.
                        </mat-error>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">

            <!-- Password input field -->
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" formControlName="password">
                </mat-form-field>
                <div class="error-container">
                    <!-- Password validation error messages -->
                    <div *ngIf="password?.touched && password?.errors?.['required']">
                        <mat-error class="custom-error">
                            Password is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="password?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Password should have at least 8 characters, one special character, and one number
                        </mat-error>
                    </div>
                </div>
            </div>
            <!-- Manager name input field -->
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="managerName">
                </mat-form-field>
                <div class="error-container">
                    <!-- Manager name validation error messages -->
                    <div *ngIf="managerName?.touched && managerName?.errors?.['required']">
                        <mat-error class="custom-error">
                            Name is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="managerName?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Username should have at least 2 characters.
                        </mat-error>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <!-- Manager age input field -->
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" formControlName="managerAge">
                </mat-form-field>
                <div class="error-container">
                    <!-- Manager age validation error messages -->
                    <div *ngIf="managerAge?.touched && managerAge?.errors?.['required']">
                        <mat-error class="custom-error">
                            Age is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="managerAge?.errors?.['invalidAge']">
                        <mat-error class="custom-error">
                            Age should be greater than 20
                        </mat-error>
                    </div>
                </div>
            </div>
            <!-- Manager salary input field -->
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Salary</mat-label>
                    <input matInput type="number" formControlName="managerSalary">
                </mat-form-field>
                <div class="error-container">
                    <!-- Manager salary validation error messages -->
                    <div *ngIf="managerSalary?.touched && managerSalary?.errors?.['required']">
                        <mat-error class="custom-error">
                            Salary is <strong>required</strong>
                        </mat-error>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <!-- Manager department selection dropdown -->
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="departmentID">
                        <mat-option *ngFor="let department of departments" [value]="department.departmentID">
                            {{department.departmentName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-container">
                    <!-- Manager department validation error messages -->
                    <div *ngIf="departmentID?.touched && departmentID?.errors?.['required']">
                        <mat-error class="custom-error">
                            Department is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="departmentID?.hasError('departmentNotFound')">
                        <mat-error>
                            Invalid Department. Please create department.
                        </mat-error>
                    </div>
                </div>
            </div>
            <!-- Manager phone input field -->
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" formControlName="phone">
                </mat-form-field>
                <div class="error-container">
                    <!-- Manager phone validation error messages -->
                    <div *ngIf="phone?.touched && phone?.errors?.['required']">
                        <mat-error class="custom-error">
                            Phone is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="phone?.touched && phone?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Invalid phone number
                        </mat-error>
                    </div>
                </div>
            </div>
            
        </div> <br>

    
        <mat-form-field class="w-100" appearance="outline">
            <mat-label >Address</mat-label>
            <textarea formControlName="address" matInput placeholder="address goes here..."></textarea>
        </mat-form-field>
        <div class="error-container">
            <!-- Manager address validation error messages -->
            <div *ngIf="address?.touched && address?.errors?.['required']">
                <mat-error class="custom-error">
                    Address is <strong>required</strong>
                </mat-error>
            </div>
        </div>

    </div>
    <!-- Actions for the dialog -->
    <div mat-dialog-actions class="action">
        <!-- Cancel button to close the dialog -->
        <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel</button>
        <!-- Create button to submit the form and create a new manager -->
        <button mat-raised-button color="primary" type="submit" [disabled]="managerForm.invalid"> Create </button>
    </div>
</form>
