<div mat-dialog-title>
    <h1>Edit Department</h1>
</div>

<form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <mat-form-field appearance="outline" class="form-field-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="departmentName">
        </mat-form-field>   
        <div class="error-container">
            <div *ngIf="departmentName?.touched && departmentName?.errors?.['required']">
                <mat-error class="custom-error">
                    Name is <strong>required</strong>
                </mat-error>
            </div>
            <div *ngIf="departmentName?.errors?.['pattern']">
                <mat-error class="custom-error">
                    Name should have at least 2 characters and no spaces allowed.
                </mat-error>
            </div>
        </div>     
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="departmentForm.invalid"> Create </button>
    </div>
</form>
