<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
      <div class="col-lg-4 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">
            <div class="text-center">
              <a [routerLink]="['/dashboard']">
                <img src="./assets/images/logos/stint360-logo.png" class="align-middle m-2" alt="logo" width="150px"/>
              </a>
            </div>

            <form class="m-t-30"  [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">New Password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="newPassword"/>
              </mat-form-field>
              <div class="error-container">
                <div *ngIf="newPassword?.touched && newPassword?.errors?.['required']">
                  <mat-error class="custom-error">
                    New Password is <strong>required</strong>
                  </mat-error>
                </div>
                <div *ngIf="newPassword?.errors?.['pattern']">
                  <mat-error class="custom-error">
                    Password should have at least 8 characters, one special character, and one number
                  </mat-error>
                </div>
              </div>

              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirm Password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="confirmPassword" />
              </mat-form-field>
  
              <div class="error-container">
                <div *ngIf="confirmPassword?.touched && confirmPassword?.errors?.['required']">
                  <mat-error class="custom-error">
                    Confirm Password is <strong>required</strong>
                  </mat-error>
                </div>
                <mat-error class="custom-error" *ngIf="resetPasswordForm.hasError('passwordMismatch')">
                  Passwords do not match
                </mat-error>
              </div>
            
              <button type="submit" mat-flat-button color="primary" class="w-100">
                Submit
              </button>
                
              <!-- input -->
            </form>


            <span class="d-block f-w-500 text-center m-t-24">Already have an Account?
  
              <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
                Sign In</a>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>