<div mat-dialog-title>
    <h1>Edit Customer</h1>
</div>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="customerName">
                </mat-form-field>
                <div class="error-container">
                    <div *ngIf="customerName?.touched && customerName?.errors?.['required']">
                        <mat-error class="custom-error">
                            Name is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="customerName?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Name should have at least 6 characters and no spaces allowed.
                        </mat-error>
                    </div>
                </div>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Contact Number</mat-label>
                    <input matInput type="text" formControlName="customerPhoneNumber">
                </mat-form-field>
                <div class="error-container">
                    <div *ngIf="customerPhoneNumber?.touched && customerPhoneNumber?.errors?.['required']">
                        <mat-error class="custom-error">
                            Phone Number is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="customerPhoneNumber?.errors?.['pattern']">
                        <mat-error class="custom-error">
                            Phone Number should have 10 digits and no spaces allowed.
                        </mat-error>
                    </div>
                </div>
            </div>
        </div> <br>
        <div class="row">
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="customerEmail">
                </mat-form-field>
                <div class="error-container">
                    <div *ngIf="customerEmail?.touched && customerEmail?.hasError('required')">
                        <mat-error class="custom-error">
                            Email is <strong>required</strong>
                        </mat-error>
                    </div>
                    <div *ngIf="customerEmail?.hasError('pattern')">
                        <mat-error class="custom-error">
                            Email should have a valid format
                        </mat-error>
                    </div>
                </div>
            </div>
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="productID">
                        <mat-option *ngFor="let product of products" [value]="product.productID">
                            {{product.productName}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error-container">
                    <div *ngIf="productID?.touched && productID?.errors?.['required']">
                        <mat-error class="custom-error">
                            Product is <strong>required</strong>
                        </mat-error>
                    </div>
                </div>
            </div>
        </div> <br>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="customerForm.invalid"> Update </button>
    </div>
</form>