/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(78, 78, 78, 0.5); /* Adjust the background color and opacity as needed */
    backdrop-filter: blur(15px); /* Adjust the blur value as needed */
    z-index: 9999; /* Ensure the loader is displayed on top of other content */
  }


  .spinner {
   width: 50px;
   height: 50px;
   animation: spinner-y0fdc1 2s infinite ease;
   transform-style: preserve-3d;
  }
  
  .spinner > div {
    background-color:#5d87ff;
    height: 100%;
   position: absolute;
   width: 100%;
   border: 3px solid #ffffff;
  }
  
  .spinner div:nth-of-type(1) {
   transform: translateZ(-22px) rotateY(180deg);
  }
  
  .spinner div:nth-of-type(2) {
   transform: rotateY(-270deg) translateX(50%);
   transform-origin: top right;
  }
  
  .spinner div:nth-of-type(3) {
   transform: rotateY(270deg) translateX(-50%);
   transform-origin: center left;
  }
  
  .spinner div:nth-of-type(4) {
   transform: rotateX(90deg) translateY(-50%);
   transform-origin: top center;
  }
  
  .spinner div:nth-of-type(5) {
   transform: rotateX(-90deg) translateY(50%);
   transform-origin: bottom center;
  }
  
  .spinner div:nth-of-type(6) {
   transform: translateZ(22px);
  }
  
  @keyframes spinner-y0fdc1 {
   0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
   }
  
   50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
   }
  
   100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
   }
  }