<div mat-dialog-title>
    <h1>Edit EmployeeTask</h1>
</div>
<form [formGroup]="employeetaskForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <div>
                <mat-form-field appearance="outline" class="form-field-width">
                    <mat-label>Task Status</mat-label>
                    <mat-select formControlName="taskStatus">
                      <ng-container *ngIf="task.taskStatus == 1" value = "New" >
                        <mat-option [value] = 2  >Progress</mat-option>
                      </ng-container>
                      <ng-container *ngIf="task.taskStatus == 2">
                        <mat-option [value] = 3>Completed</mat-option>
                      </ng-container>
                      <ng-container *ngIf="task.taskStatus == 4">
                        <mat-option [value] = 3>Completed</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                <!-- <div class="error-container">
                    <div *ngIf="productID?.touched && productID?.errors?.['required']">
                        <mat-error class="custom-error">
                            productID is <strong>required</strong>
                        </mat-error>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel</button>
        <button mat-raised-button color="primary" type="submit"> Update </button>
    </div>
</form>
